In [22]:
try:
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    result = num1 / num2
    print("Result:", result)

except ZeroDivisionError:
    print("You cannot divide by zero!")

except ValueError:
    print("Please enter only numbers!")

except Exception as e:
    print("An unexpected error occurred:", e)

finally:
    print("Program finished.")

Enter a number:  59
Enter another number:  4

Result: 14.75
Program finished.

In [2]:
try:
    num = 42/0
except:
    print ("not divide")
finally:
    print("program execute")

not divide
program execute

In [3]:
try:
    num = 80/4
except:
    print ("not divide")
finally:
    print("program execute")

program execute

In [4]:
try:
    num = 80/4
except Exception as e:
    print (e)
finally:
    print("program execute")

program execute

In [10]:
try:
    num = int("abc")   
except ValueError:
    print("Invalid number!")

Invalid number!

# type error

In [11]:
try:
    result = "10" + 5   
except TypeError:
    print("Cannot add string and number!")

Cannot add string and number!

In [13]:
try:
    num = "123" + 10.45
except TypeError:
    print("cant'add float and string")

cant'add float and string

# index eror

In [14]:
try:
    my_list = [1, 2, 3]
    print(my_list[5])   
except IndexError:
    print("List index out of range!")

List index out of range!

In [15]:
try:
    my_list = [1,10,2,8,9]
    print(my_list[6])
except IndexError:
    print("list index oor!")

list index oor!

# key error

In [16]:
try:
    my_dict = {"a": 1}
    print(my_dict["b"])
except KeyError:
    print("Key not found in dictionary!")

Key not found in dictionary!

# value error

In [21]:
try:
    num = int("12,42")  
except ValueError:
    print("Invalid number!")

Invalid number!

In [25]:
try:
    my_dict = {"1": 2}
    print(my_dict["1"])
except KeyError:
    print("Key not found in dictionary!")

2