In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\Gateway\\Downloads\\retail_store_sales.csv")
df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
0,TXN_6867343,CUST_09,Patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True
1,TXN_3731986,CUST_22,Milk Products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True
2,TXN_9303719,CUST_02,Butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False
3,TXN_9458126,CUST_06,Beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,NaN
4,TXN_4575373,CUST_05,Food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False
...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,Patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,NaN
12571,TXN_4009414,CUST_03,Beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False
12572,TXN_5306010,CUST_11,Butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,NaN
12573,TXN_5167298,CUST_04,Furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True
12574,TXN_2407494,CUST_23,Food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,NaN

# Part 1: Data Cleaning & Preparation

In [47]:
print("\n Missing values count per column:")
print(df.isna().sum())

print("\n % Missing values per column:")
print((df.isna().mean() * 100).round(2))

 Missing values count per column:
Transaction ID        0
Customer ID           0
Category              0
Item                  0
Price Per Unit      609
Quantity              0
Total Spent           0
Payment Method        0
Location              0
Transaction Date      0
Discount Applied      0
Check_Total         609
Mismatch              0
Year                  0
Month                 0
Year-Month            0
dtype: int64

 % Missing values per column:
Transaction ID      0.00
Customer ID         0.00
Category            0.00
Item                0.00
Price Per Unit      4.84
Quantity            0.00
Total Spent         0.00
Payment Method      0.00
Location            0.00
Transaction Date    0.00
Discount Applied    0.00
Check_Total         4.84
Mismatch            0.00
Year                0.00
Month               0.00
Year-Month          0.00
dtype: float64

In [5]:
df["Item"] = df["Item"].fillna("Unknown")

df["Quantity"] = df["Quantity"].fillna(df["Quantity"].mean())

df["Total Spent"] = df["Total Spent"].fillna(df["Total Spent"].median())

df["Discount Applied"] = df["Discount Applied"].fillna(df["Discount Applied"].mode()[0])

print("\n Cleaned DataFrame after Fixing Missing Values:")
print(df)

 Cleaned DataFrame after Fixing Missing Values:
      Transaction ID Customer ID       Category          Item  Price Per Unit  \
0        TXN_6867343     CUST_09     Patisserie   Item_10_PAT            18.5
1        TXN_3731986     CUST_22  Milk Products  Item_17_MILK            29.0
2        TXN_9303719     CUST_02       Butchers   Item_12_BUT            21.5
3        TXN_9458126     CUST_06      Beverages   Item_16_BEV            27.5
4        TXN_4575373     CUST_05           Food   Item_6_FOOD            12.5
...              ...         ...            ...           ...             ...
12570    TXN_9347481     CUST_18     Patisserie   Item_23_PAT            38.0
12571    TXN_4009414     CUST_03      Beverages    Item_2_BEV             6.5
12572    TXN_5306010     CUST_11       Butchers    Item_7_BUT            14.0
12573    TXN_5167298     CUST_04      Furniture    Item_7_FUR            14.0
12574    TXN_2407494     CUST_23           Food   Item_9_FOOD            17.0

       Quantity  Total Spent  Payment Method  Location Transaction Date  \
0          10.0        185.0  Digital Wallet    Online       2024-04-08
1           9.0        261.0  Digital Wallet    Online       2023-07-23
2           2.0         43.0     Credit Card    Online       2022-10-05
3           9.0        247.5     Credit Card    Online       2022-05-07
4           7.0         87.5  Digital Wallet    Online       2022-10-02
...         ...          ...             ...       ...              ...
12570       4.0        152.0     Credit Card  In-store       2023-09-03
12571       9.0         58.5            Cash    Online       2022-08-12
12572      10.0        140.0            Cash    Online       2024-08-24
12573       6.0         84.0            Cash    Online       2023-12-30
12574       3.0         51.0            Cash    Online       2022-08-06

       Discount Applied
0                  True
1                  True
2                 False
3                  True
4                 False
...                 ...
12570              True
12571             False
12572              True
12573              True
12574              True

[12575 rows x 11 columns]

C:\Users\Gateway\AppData\Local\Temp\ipykernel_12832\407684254.py:7: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Discount Applied"] = df["Discount Applied"].fillna(df["Discount Applied"].mode()[0])

In [6]:
duplicate_ids = df[df['Transaction ID'].duplicated(keep=False)]
print("Duplicate Transaction IDs:", duplicate_ids)

Duplicate Transaction IDs: Empty DataFrame
Columns: [Transaction ID, Customer ID, Category, Item, Price Per Unit, Quantity, Total Spent, Payment Method, Location, Transaction Date, Discount Applied]
Index: []

In [7]:
duplicate_rows = df[df.duplicated()]
print("Duplicate Rows:", duplicate_rows)

Duplicate Rows: Empty DataFrame
Columns: [Transaction ID, Customer ID, Category, Item, Price Per Unit, Quantity, Total Spent, Payment Method, Location, Transaction Date, Discount Applied]
Index: []

In [8]:
df['Check_Total'] = df['Price Per Unit'] * df['Quantity']
df['Mismatch'] = df['Check_Total'] != df['Total Spent']
print("Mismatched Total Spent:", df[df['Mismatch'] == True])

Mismatched Total Spent:       Transaction ID Customer ID                       Category     Item  \
5        TXN_7482416     CUST_09                     Patisserie  Unknown
7        TXN_1372952     CUST_21                      Furniture  Unknown
11       TXN_5422631     CUST_09                  Milk Products  Unknown
15       TXN_1809665     CUST_14                      Beverages  Unknown
17       TXN_9634894     CUST_15                  Milk Products  Unknown
...              ...         ...                            ...      ...
12527    TXN_1069238     CUST_23                           Food  Unknown
12552    TXN_4823896     CUST_05                  Milk Products  Unknown
12556    TXN_4397672     CUST_04                      Beverages  Unknown
12562    TXN_7422454     CUST_07                       Butchers  Unknown
12564    TXN_2153066     CUST_17  Electric household essentials  Unknown

       Price Per Unit  Quantity  Total Spent  Payment Method  Location  \
5                 NaN  10.00000        200.0     Credit Card    Online
7                33.5   5.53638        108.5  Digital Wallet  In-store
11                NaN   8.00000         52.0  Digital Wallet  In-store
15               24.5   5.53638        108.5     Credit Card  In-store
17                NaN  10.00000        275.0  Digital Wallet    Online
...               ...       ...          ...             ...       ...
12527             5.0   5.53638        108.5  Digital Wallet  In-store
12552             8.0   5.53638        108.5            Cash  In-store
12556            41.0   5.53638        108.5     Credit Card    Online
12562            33.5   5.53638        108.5            Cash    Online
12564            29.0   5.53638        108.5  Digital Wallet  In-store

      Transaction Date  Discount Applied  Check_Total  Mismatch
5           2023-11-30              True          NaN      True
7           2024-04-02              True   185.468716      True
11          2025-01-12              True          NaN      True
15          2022-05-11              True   135.641300      True
17          2022-04-17              True          NaN      True
...                ...               ...          ...       ...
12527       2022-08-13             False    27.681898      True
12552       2022-07-21             False    44.291037      True
12556       2024-11-28              True   226.991563      True
12562       2023-04-15              True   185.468716      True
12564       2024-03-28             False   160.555008      True

[1213 rows x 13 columns]

In [9]:
df.dtypes

Transaction ID       object
Customer ID          object
Category             object
Item                 object
Price Per Unit      float64
Quantity            float64
Total Spent         float64
Payment Method       object
Location             object
Transaction Date     object
Discount Applied       bool
Check_Total         float64
Mismatch               bool
dtype: object

In [10]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')
df['Price Per Unit'] = pd.to_numeric(df['Price Per Unit'], errors='coerce')
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df['Total Spent'] = pd.to_numeric(df['Total Spent'], errors='coerce')
df['Discount Applied'] = df['Discount Applied'].astype(bool)
df.dtypes

Transaction ID              object
Customer ID                 object
Category                    object
Item                        object
Price Per Unit             float64
Quantity                   float64
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
Discount Applied              bool
Check_Total                float64
Mismatch                      bool
dtype: object

In [11]:
df['Payment Method']= df['Payment Method'].str.strip().str.title()
df['Payment Method']

0        Digital Wallet
1        Digital Wallet
2           Credit Card
3           Credit Card
4        Digital Wallet
              ...
12570       Credit Card
12571              Cash
12572              Cash
12573              Cash
12574              Cash
Name: Payment Method, Length: 12575, dtype: object

In [12]:
df['Location'] =df['Location'].str.strip().str.capitalize()
df['Location']

0          Online
1          Online
2          Online
3          Online
4          Online
           ...
12570    In-store
12571      Online
12572      Online
12573      Online
12574      Online
Name: Location, Length: 12575, dtype: object

In [13]:
df['Category'] = df['Category'].str.strip().str.lower()
df['Category']

0           patisserie
1        milk products
2             butchers
3            beverages
4                 food
             ...
12570       patisserie
12571        beverages
12572         butchers
12573        furniture
12574             food
Name: Category, Length: 12575, dtype: object

# Part 2: Basic Exploration (Univariate Analysis)

In [14]:
total_transactions = len(df)
print("Total Transactions:", total_transactions)

Total Transactions: 12575

In [15]:
unique_customer = df['Customer ID'].nunique()
print("Unique Customers: ", unique_customer)

Unique Customers:  25

In [16]:
category_dist = df['Category'].value_counts()
print("Transactions by Category: ", category_dist)

Transactions by Category:  Category
electric household essentials         1591
furniture                             1591
food                                  1588
milk products                         1584
butchers                              1568
beverages                             1567
computers and electric accessories    1558
patisserie                            1528
Name: count, dtype: int64

In [17]:
payment_dist = df['Payment Method'].value_counts()
print("Transactions by Payment Method: ", payment_dist)

Transactions by Payment Method:  Payment Method
Cash              4310
Digital Wallet    4144
Credit Card       4121
Name: count, dtype: int64

In [18]:
location_dist = df['Location'].value_counts()
print("Transactions by Location:", location_dist)

Transactions by Location: Location
Online      6354
In-store    6221
Name: count, dtype: int64

In [19]:
avg_total_spent = df['Total Spent'].mean()
print("Average Total Spent per Transaction: ", round(avg_total_spent,2))

Average Total Spent per Transaction:  128.64

In [20]:
median_quantity = df['Quantity'].median()
print("Median Quantity Purchased per transaction: ", median_quantity)

Median Quantity Purchased per transaction:  5.536379583994654

# Part 3: Customer Analysis

In [21]:
total_spent_per_customer = df.groupby('Customer ID')['Total Spent'].sum().sort_values(ascending=False)
print("Customers Who Spent the Most Overall:\n", total_spent_per_customer.head(10))

Customers Who Spent the Most Overall:
 Customer ID
CUST_24    71056.0
CUST_08    70172.5
CUST_05    70012.5
CUST_23    67979.0
CUST_13    67858.0
CUST_16    67849.0
CUST_10    65325.5
CUST_21    65320.0
CUST_15    65070.5
CUST_22    64662.0
Name: Total Spent, dtype: float64

In [22]:
transactions_per_customer = df['Customer ID'].value_counts().sort_values(ascending=False)
print("Customers With Highest Number of Transactions: ", transactions_per_customer.head(10))

Customers With Highest Number of Transactions:  Customer ID
CUST_05    544
CUST_24    543
CUST_13    534
CUST_08    533
CUST_09    519
CUST_15    519
CUST_16    515
CUST_23    513
CUST_20    507
CUST_18    507
Name: count, dtype: int64

In [23]:
categories_per_customer = df.groupby('Customer ID')['Category'].nunique().sort_values(ascending=False)
print("Customers With Most Categories Purchased:\n", categories_per_customer.head(10))

Customers With Most Categories Purchased:
 Customer ID
CUST_01    8
CUST_02    8
CUST_03    8
CUST_04    8
CUST_05    8
CUST_06    8
CUST_07    8
CUST_08    8
CUST_09    8
CUST_10    8
Name: Category, dtype: int64

In [24]:
location_pref = df.groupby('Customer ID')['Location'].value_counts().unstack(fill_value=0)
print("\nCustomer Preference (Online vs In-store):\n", location_pref.head(10))

Customer Preference (Online vs In-store):
 Location     In-store  Online
Customer ID
CUST_01           256     251
CUST_02           259     229
CUST_03           230     235
CUST_04           245     229
CUST_05           266     278
CUST_06           261     220
CUST_07           227     264
CUST_08           250     283
CUST_09           250     269
CUST_10           252     249

In [25]:
avg_spent_per_customer = df.groupby('Customer ID')['Total Spent'].mean().sort_values(ascending=False)
print("\nCustomers With Largest Average Spend per Transaction:\n", avg_spent_per_customer.head(10))

Customers With Largest Average Spend per Transaction:
 Customer ID
CUST_03    135.209677
CUST_04    134.660338
CUST_23    132.512671
CUST_02    131.813525
CUST_16    131.745631
CUST_08    131.655722
CUST_19    131.523614
CUST_21    131.164659
CUST_24    130.858195
CUST_10    130.390220
Name: Total Spent, dtype: float64

# Part 4: Category & Item Analysis

In [26]:
revenue_per_category = df.groupby('Category')['Total Spent'].sum().sort_values(ascending=False)
print("Category Generating Most Total Revenue:\n", revenue_per_category.head(10))

Category Generating Most Total Revenue:
 Category
butchers                              215930.0
electric household essentials         211951.0
beverages                             204751.0
food                                  203600.5
furniture                             202471.0
computers and electric accessories    199481.0
patisserie                            191605.0
milk products                         187815.5
Name: Total Spent, dtype: float64

In [27]:
avg_spent_per_category = df.groupby('Category')['Total Spent'].mean().sort_values(ascending=False)
print("\nCategory with Highest Average Total Spent per Transaction:\n", avg_spent_per_category.head(10))

Category with Highest Average Total Spent per Transaction:
 Category
butchers                              137.710459
electric household essentials         133.218730
beverages                             130.664327
food                                  128.211902
computers and electric accessories    128.036585
furniture                             127.260214
patisserie                            125.395942
milk products                         118.570391
Name: Total Spent, dtype: float64

In [28]:
top_items_by_quantity = df.groupby('Item')['Quantity'].sum().sort_values(ascending=False)
print("\nTop Selling Items by Quantity Sold:\n", top_items_by_quantity.head(10))

Top Selling Items by Quantity Sold:
 Item
Unknown         6730.973269
Item_2_BEV       676.000000
Item_16_MILK     627.000000
Item_25_FUR      616.000000
Item_19_MILK     589.000000
Item_13_FOOD     581.000000
Item_5_FUR       581.000000
Item_1_MILK      578.000000
Item_11_MILK     574.000000
Item_11_FUR      573.000000
Name: Quantity, dtype: float64

In [29]:
discount_freq_by_category = df.groupby('Category')['Discount Applied'].mean().sort_values(ascending=False)
print("\nDiscount Frequency by Category (Proportion of Transactions with Discount):\n", discount_freq_by_category.head(10))

Discount Frequency by Category (Proportion of Transactions with Discount):
 Category
furniture                             0.694532
beverages                             0.684110
patisserie                            0.678010
butchers                              0.672194
electric household essentials         0.668133
food                                  0.655542
milk products                         0.653409
computers and electric accessories    0.649551
Name: Discount Applied, dtype: float64

In [30]:
unique_customers_per_category = df.groupby('Category')['Customer ID'].nunique().sort_values(ascending=False)
print("\nCategory with Highest Number of Unique Customers:\n", unique_customers_per_category.head(10))

Category with Highest Number of Unique Customers:
 Category
beverages                             25
butchers                              25
computers and electric accessories    25
electric household essentials         25
food                                  25
furniture                             25
milk products                         25
patisserie                            25
Name: Customer ID, dtype: int64

# Part 5: Time-based Analysis

In [32]:
date_range = df['Transaction Date'].agg(['min','max'])
date_range

min   2022-01-01
max   2025-01-18
Name: Transaction Date, dtype: datetime64[ns]

In [33]:
df['Year']=df['Transaction Date'].dt.year
df['Month']=df['Transaction Date'].dt.month
df['Year-Month']=df['Transaction Date'].dt.to_period('M')
df

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied,Check_Total,Mismatch,Year,Month,Year-Month
0,TXN_6867343,CUST_09,patisserie,Item_10_PAT,18.5,10.0,185.0,Digital Wallet,Online,2024-04-08,True,185.0,False,2024,4,2024-04
1,TXN_3731986,CUST_22,milk products,Item_17_MILK,29.0,9.0,261.0,Digital Wallet,Online,2023-07-23,True,261.0,False,2023,7,2023-07
2,TXN_9303719,CUST_02,butchers,Item_12_BUT,21.5,2.0,43.0,Credit Card,Online,2022-10-05,False,43.0,False,2022,10,2022-10
3,TXN_9458126,CUST_06,beverages,Item_16_BEV,27.5,9.0,247.5,Credit Card,Online,2022-05-07,True,247.5,False,2022,5,2022-05
4,TXN_4575373,CUST_05,food,Item_6_FOOD,12.5,7.0,87.5,Digital Wallet,Online,2022-10-02,False,87.5,False,2022,10,2022-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12570,TXN_9347481,CUST_18,patisserie,Item_23_PAT,38.0,4.0,152.0,Credit Card,In-store,2023-09-03,True,152.0,False,2023,9,2023-09
12571,TXN_4009414,CUST_03,beverages,Item_2_BEV,6.5,9.0,58.5,Cash,Online,2022-08-12,False,58.5,False,2022,8,2022-08
12572,TXN_5306010,CUST_11,butchers,Item_7_BUT,14.0,10.0,140.0,Cash,Online,2024-08-24,True,140.0,False,2024,8,2024-08
12573,TXN_5167298,CUST_04,furniture,Item_7_FUR,14.0,6.0,84.0,Cash,Online,2023-12-30,True,84.0,False,2023,12,2023-12
12574,TXN_2407494,CUST_23,food,Item_9_FOOD,17.0,3.0,51.0,Cash,Online,2022-08-06,True,51.0,False,2022,8,2022-08

In [34]:
monthly_trend = df.groupby('Year-Month')['Transaction ID'].count()
print("\nMonthly Transaction Trend:\n", monthly_trend.head(12))

Monthly Transaction Trend:
 Year-Month
2022-01    390
2022-02    331
2022-03    353
2022-04    346
2022-05    330
2022-06    338
2022-07    371
2022-08    347
2022-09    348
2022-10    317
2022-11    354
2022-12    309
Freq: M, Name: Transaction ID, dtype: int64

In [35]:
yearly_trend = df.groupby('Year')['Transaction ID'].count()
print("\nYearly Transaction Trend:\n", yearly_trend)

Yearly Transaction Trend:
 Year
2022    4134
2023    3987
2024    4241
2025     213
Name: Transaction ID, dtype: int64

In [36]:
transactions_per_month = df.groupby('Month')['Transaction ID'].count()
most_transactions_month = transactions_per_month[transactions_per_month == transactions_per_month.max()]
print("\nMonth(s) with Most Transactions:\n", most_transactions_month)

Month(s) with Most Transactions:
 Month
1    1361
Name: Transaction ID, dtype: int64

In [37]:
revenue_per_month = df.groupby('Month')['Total Spent'].sum()
highest_revenue_month = revenue_per_month[revenue_per_month == revenue_per_month.max()]
print("\nMonth with Highest Total Revenue:\n", highest_revenue_month)

Month with Highest Total Revenue:
 Month
1    181582.0
Name: Total Spent, dtype: float64

In [38]:
avg_transaction_value_per_year = df.groupby('Year')['Total Spent'].mean()
print("\nAverage Transaction Value per Year:\n", avg_transaction_value_per_year)

Average Transaction Value per Year:
 Year
2022    128.932269
2023    128.099699
2024    129.008135
2025    125.549296
Name: Total Spent, dtype: float64

In [39]:
discounts_per_month = df[df['Discount Applied'] == True].groupby('Month')['Transaction ID'].count()
print("\nDiscount Transactions per Month:\n", discounts_per_month)

Discount Transactions per Month:
 Month
1     930
2     659
3     662
4     653
5     674
6     724
7     719
8     693
9     701
10    650
11    666
12    687
Name: Transaction ID, dtype: int64

# Part 6: Payment & Discount Insights

In [40]:
most_used_payment = df['Payment Method'].value_counts()
print("Most Used Payment Methods:\n", most_used_payment)

Most Used Payment Methods:
 Payment Method
Cash              4310
Digital Wallet    4144
Credit Card       4121
Name: count, dtype: int64

In [41]:
revenue_per_payment = df.groupby('Payment Method')['Total Spent'].sum().sort_values(ascending=False)
print("\nPayment Method Generating Highest Revenue:\n", revenue_per_payment)

Payment Method Generating Highest Revenue:
 Payment Method
Cash              560169.5
Digital Wallet    529304.5
Credit Card       528131.0
Name: Total Spent, dtype: float64

In [42]:
avg_spent_payment = df[df['Payment Method'].isin(['Credit Card', 'Digital Wallet'])].groupby('Payment Method')['Total Spent'].mean()
print("\nAverage Total Spent (Credit Card vs Digital Wallet):\n", avg_spent_payment)

Average Total Spent (Credit Card vs Digital Wallet):
 Payment Method
Credit Card       128.15603
Digital Wallet    127.72792
Name: Total Spent, dtype: float64

In [44]:
discount_percentage = (df['Discount Applied'].sum() / len(df)) * 100
print("\nPercentage of Transactions with Discount Applied: {:.2f}%".format(discount_percentage))

Percentage of Transactions with Discount Applied: 66.94%

In [45]:
avg_quantity_discount = df.groupby('Discount Applied')['Quantity'].mean()
print("\nAverage Quantity per Transaction (Discount vs No Discount):\n", avg_quantity_discount)

Average Quantity per Transaction (Discount vs No Discount):
 Discount Applied
False    5.578908
True     5.515378
Name: Quantity, dtype: float64

In [46]:
total_revenue_discount = df.groupby('Discount Applied')['Total Spent'].sum()
print("\nTotal Revenue: Discount vs No Discount:\n", total_revenue_discount)

Total Revenue: Discount vs No Discount:
 Discount Applied
False     536075.5
True     1081529.5
Name: Total Spent, dtype: float64